/* style.css */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button.selected {
    background-color: #02021f;
    color: #fff;
    border-radius: .5rem;
}
